
.add-space-form, .edit-space-form {
border: 1px solid #ccc;
padding: 20px;
margin-bottom: 20px;
}

  .add-space-form h2, .edit-space-form h5 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .add-space-form label, .edit-space-form label {
    display: block;
    margin-bottom: 10px;
  }

  .add-space-form select, .edit-space-form select, .add-space-form input[type="number"], .edit-space-form input[type="number"], .add-space-form input[type="text"], .edit-space-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .add-space-form button, .edit-space-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-space-form button:hover, .edit-space-form button:hover {
    background-color: #0069d9;
  }
